body {
  margin: 20px;
  background: #f7f7f7;
}

#ativar {
  display: block;
  margin: 20px auto;
}


#modal h1 {
  font-family: sans-serif;
  margin: 0px 0px 20px;
}

#modal label {
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

#modal input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  background: #f7f7f7;
}

#modal button {
  padding: 0.6em 2em;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  border: none;
  background: #ffb801;
  border-radius: 4px;
  color: #402d00;
}

#modal {
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px rgb(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 20px auto;
	opacity: 0;
	transform: translateX(-40px);
}

#modal.animar {
	animation-name: slide;
  animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes slide {
	to {
		opacity: 1;
		transform: translateX(40px);
	}
}